html {
       background-color: #c2feff;
       display: block;
       font-family: "Courier New";
}


.wrap {
    max-width: 720px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px 40px;
    text-align: center;
    box-shadow: 0 4px 25px -4px #9da5ab;
}
article {
    padding: 40px;
    line-height: 150%;
    text-align: left;
}

h1 {
    font-family: "Courier New", Courier;
    text-align: center;
}

h2 {
    font-family: "Courier New";
    text-align: center;

}

nav {
    font-family: "Courier New";
    font-weight: 100;
    font-size: 15px;
    font-weight: bold;

}
nav .item {
    text-decoration: none;
}
nav .active {
    border-bottom: 1px solid;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 25px -4px #9da5ab
}

footer {
    text-align: center;
    background-color: #e3f2fd;
    font-family: "Courier New", Courier, monospace;
   
}

nav.navbar.navbar-light{
    background-color: #e3f2fd;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

#my-button.btn.btn-primary.btn-lg.btn-block{
    font-family: "Courier New", Courier, monospace;
    background-color: #e6faff;
    border-color: #e6faff;
    color: black;
}

.jumbotron.text-center {
    color: #0B81A5;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}