html {
       background-color: #c2feff;
       display: block;
       font-family: "Courier New";
}


.wrap {
    max-width: 720px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px 40px;
    text-align: center;
    box-shadow: 0 4px 25px -4px #9da5ab;
}
article {
    padding: 40px;
    line-height: 150%;
    text-align: left;
}

h1,h2,h4 {
    font-family: "Courier New", Courier;
    text-align: center;
}

h1{
    font-weight: bold;
    color: #0B81A5;
}

nav .item {
    text-decoration: none;
}
nav .active {
    border-bottom: 1px solid;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 25px -4px #9da5ab
}



nav.navbar.navbar-light{
    background-color: #e3f2fd;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

#button.btn.btn-outline-primary{
    font-family: "Courier New", Courier, monospace;
    background-color: #e6faff;
    border-color: #e6faff;
    color: black;
}

.jumbotron.jumbostron-fluid {

    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #e3f2fd;
    font-family: "Courier New", Courier, monospace;
   
}